@using BlazorAppMetInteractiviteit.Client.Components
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudPaper Height="100vh" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer Open="true" Elevation="0" Variant="DrawerVariant.Persistent" Color="Color.Warning">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">DemoProject</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Primary" Href="/">Home</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Primary" Href="/Counter">Counter</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.LocalLibrary" IconColor="Color.Primary" Href="/Weather">Weather</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.LocalLibrary" IconColor="Color.Primary" Href="/Holiday">Holiday</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.People" IconColor="Color.Primary" Href="/Muddy">Muddy</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.AddModerator" IconColor="Color.Primary" Href="/Circuit">Circuit</MudNavLink>
                <MudNavLink Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.VerifiedUser" IconColor="Color.Primary" Href="/Auth">Auth</MudNavLink>
            </MudNavMenu>
        </MudDrawer>

        <div class="mud-height-full">
            <div style="display: flex; justify-content: flex-end;"<LoginDisplay /></div>
            <hr />

            @Body
        </div>
    </MudDrawerContainer>
</MudPaper>
