@page "/holiday"
@using DemoProject.Entities
@{
    Console.WriteLine("hoi");
}


<h3>Holiday</h3>

<h4>Bestemming toevoegen</h4>

<EditForm Model="NewDestination" OnValidSubmit="AddDestination" FormName="AddDestinationForm" Enhance>
    <DataAnnotationsValidator />
    @* <FluentValidationValidator /> *@

    <label for="input-location">Locatie:</label>
    <InputText @bind-Value="NewDestination.Location" id="input-location" />
    <ValidationMessage For="() => NewDestination.Location" />

    <label for="input-rating">Rating:</label>
    <InputNumber @bind-Value="NewDestination.Rating" id="input-rating" />
    <ValidationMessage For="() => NewDestination.Rating" />

    <label for="input-photo-url">Foto URL:</label>
    <InputText @bind-Value="NewDestination.PhotoUrl" id="input-photo-url" />
    <ValidationMessage For="() => NewDestination.PhotoUrl" />

    <button>Submit</button>
</EditForm>




@if (Destinations is null || !Destinations.Any())
{
    <text>Nog geen bestemmingen!</text>
    <p>Nog geen bestemmingen!</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Bestemming</th>
                <th>Rating</th>
                <th>Fotootje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var destination in Destinations)
            {
                <tr class="@(destination.Rating >= 8 ? "awesome" : "")">
                    <td>@destination.Location</td>
                    <td>@destination.Rating</td>
                    <td><img src="@destination.PhotoUrl" alt="Foto van @destination.Location" /></td>
                </tr>

            }
        </tbody>
    </table>
}




@code {
    public string Name { get; set; } = "JP";


}
